body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: orange;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#home {
    background-image: linear-gradient(to bottom, #333, #555);
    color: #fff;
    text-align: center;
    padding: 5em;
}

#about, #projects, #contact {
    background-color: #f7f7f7;
}

.project-card {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: green;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    section {
        padding: 1em;
    }

    #home {
        padding: 2em;
    }
}

@media only screen and (max-width: 480px) {
    #home {
        padding: 1em;
    }

    .project-card {
        padding: 0.5em;
    }
}
